body {
  font-family: Arial, sans-serif;
  background-color: #24282b; /* 배경색 */
  padding: 20px;
}

h1 {
  text-align: center;
  color: #d1d5d9; /* 제목 색상 (더 밝은 회색으로 변경) */
}

.form-group {
  margin-bottom: 15px; /* 필드 간격 */
}

label {
  display: block;
  margin-bottom: 5px; /* 레이블과 입력 필드 간격 */
  color: #d1d5d9; /* 레이블 색상 (더 밝은 회색으로 변경) */
}

.input-field {
  width: 100%; /* 입력 필드 폭을 100%로 설정 */
  padding: 10px;
  border: 1px solid #5a5d5f; /* 입력 필드 테두리 */
  border-radius: 4px; /* 둥근 모서리 */
  box-sizing: border-box; /* 패딩과 테두리를 포함하여 전체 크기 설정 */
  font-size: 16px; /* 글자 크기 조정 */
  background-color: #3a3f43; /* 입력 필드 배경색 (밝은 회색으로 변경) */
  color: #e9ecef; /* 입력 필드 글씨 색상 (더 밝은 회색으로 변경) */
}

.input-field:focus {
  border-color: #007BFF; /* 포커스 시 테두리 색상 */
  outline: none; /* 기본 포커스 아웃라인 제거 */
}

.submit-button {
  background-color: #007BFF; /* 버튼 배경색 */
  color: #e9ecef; /* 버튼 글자 색상 (더 밝은 회색으로 변경) */
  padding: 10px 15px; /* 버튼 패딩 */
  border: none; /* 버튼 테두리 제거 */
  border-radius: 4px; /* 둥근 모서리 */
  font-size: 16px; /* 글자 크기 조정 */
  cursor: pointer; /* 커서 모양 변경 */
  width: 100%; /* 버튼 폭을 100%로 설정 */
}

.submit-button:hover {
  background-color: #0056b3; /* 호버 시 배경색 변경 */
}
